{% extends "base.html" %}

{% block content %}
    <h1>New Note</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.title.label }}<br>
            {{ form.title }}
        </p>
		<p>
			{% for error in form.path.errors %}
				<span style="color: red;">{{ error }}</span>
			{% endfor %}
			{{ form.path.label }}
			{{ form.path }}
		</p>
        <p>            
			{% for error in form.desc.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.desc.label }}<br>
            {{ form.desc }}
        </p>
        <p>	
			{% for error in form.tags.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.tags.label }}
            {{ form.tags }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
