<html>
    <head>
      <title>{{ title }} - Archivy</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	  <style>

	  </style>
    </head>
    <body>

		{% set path = [] %}
		{% set i = namespace(value=0) %}
		{% macro draw_dir(dir, depth) -%}
			{% set i.value = i.value + 1 %}
			{% if depth %}
				{% do path.append(dir.name) %}
			{% endif %}
			<div style="margin-left: 15px" id="cont-{{i.value}}" class="folder-cont">
				<h3>
					{{ dir.name }} 
				</h3>
				{% if dir.child_files | length %}
					<button class="expand-btn" onclick="createInteractive(this, {{i.value}});">Expand</button>
				{% endif %}

				<ul class="items-{{i.value}}">
					{% for dataobj in dir.child_files %}
						<li>
							<a href="/dataobj/{{ dataobj["id"] }}">
								{{ dataobj["title"] }}
							</a>
						</li>
					{% endfor %}
				</ul>
				{% for child_dir in dir.child_dirs.values() %}
					{{ draw_dir(child_dir, depth + 1) }}
				{% endfor %}
			</div>
			{% if depth %}
				{% do path.pop() %}
			{% endif %}
		{%- endmacro %}

		<div class="Header">
			<div class="Header-item full">
				<a class="Header-link" href="/">
					<img src="https://archivy.github.io/img/logo-2.png" alt="archivy logo" width="35" height="35">
					<h3>Archivy</h3>
				</a>
			</div>

			{% if current_user.is_authenticated %}
				<a href="/plugins" class="Header-link Header-item">
					<h3>Plugins</h3>
				</a>
				<a href="/user/edit" class="Header-item">
					<svg class="octicon" color="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30"><path fill-rule="evenodd" d="M10.5 5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm.061 3.073a4 4 0 10-5.123 0 6.004 6.004 0 00-3.431 5.142.75.75 0 001.498.07 4.5 4.5 0 018.99 0 .75.75 0 101.498-.07 6.005 6.005 0 00-3.432-5.142z"></path></svg>
				</a>
			{% endif %}
			<!-- <div class="toggle Header-item mr-0" style="font-size: 30px">🌓</div> -->
		</div>
		<div id="page">
			{% if current_user.is_authenticated %}
				<div class="sidebar">
					{{ draw_dir(dataobjs, 0) }}
				</div>
			{% endif %}

			<main class="content pt-3">
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="flash mt-3 mb-3 flash-{{ category }}">{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
			</main>
		</div>
		

		<!-- 
			<script>
			  /*-----------------------------------------------------*/
			  /* Different color themes toggle
			  ------------------------------------------------------ */
			  const currentTheme = localStorage.getItem("theme");
			  if (currentTheme == "dark")
			  {
				document.body.classList.toggle("dark-theme");
			  }

			  const tog = document.querySelector(".toggle");
			  tog.addEventListener("click", function () {
				let theme = "dark";
				if (document.body.classList.contains("dark-theme"))
				{
				  theme = "light";
				}
				localStorage.setItem("theme", theme);
				document.body.classList.toggle("dark-theme");
			  });
				
			</script>
		-->

		<script>
		  const SCRIPT_ROOT = {{ request.script_root|tojson|safe }} + "/api";
		  let max_folder_id = document.querySelectorAll(".folder-cont").length;
		  function createInteractive(prevElem, id) 
		  {
			// expand
			let parentDiv = prevElem.parentNode;
			let childNotes = document.querySelector(".items-" + id);
			// check if expanded
			let expanded = window.getComputedStyle(childNotes).getPropertyValue("display") === "block";
			if (!expanded) {
			  childNotes.style.display = "block";
			  prevElem.innerHTML = 'Collapse'
			}
			// collapse
			else {
			  prevElem.innerHTML = 'Expand'
			  childNotes.style.display = "none";
			}

		  }
		</script>
    </body>
</html>
