body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  color: #24292e;
}

* {
	box-sizing: border-box;
}

a {
	color: #7848bb;
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
  width: 60%;
  margin-left: 25%;
}

#login-cont {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#login-cont, #user-cont {
	width: 300px;
}

#login-cont input, #user-cont input {
	font-size: 17px;
	transition: border-color 2s;
	border: none;
	border-bottom: 3px #f5f4f4 solid;
	padding: 5px;
	margin: 8px;
	background-color: white;
}

#login-cont input:focus:not([type="submit"]), #login-cont input:hover:not([type="submit"]), #user-cont input:focus:not([type="submit"]), #user-cont input:hover:not([type="submit"]) {
		border-color:#48BB78;
}

.hidden, .hidden * {
  display: none !important;
}

.fadein {
  transition: opacity 1s;
  opacity: 1;
  display: flex !important;
}

body form {
	box-shadow: none;
}
.new-folder {
  align-items: center;
  flex-wrap: wrap;
  border: none;
}
.new-folder > * {
  margin: 0px 10px;
}
.new-folder input {
  margin: 0px;
}
.new-folder input[type="submit"] {
  padding: 5px;
}

.delete-btn {
  padding: 0;
  border: none;
  background: none;
}
.delete-btn img {
  height: 40px;
}

.expand-btn {
  background: none;
  padding: 0;
  border: none;
  color: #920de9;
}

.folder-cont {
  border-left: 5px solid #ff4301;
  padding: 0px 10px;
  margin: 30px 0px;
}
.folder-cont h2,
.folder-cont p {
  margin: 5px;
}
.folder-cont ul {
  display: none;
  padding: 10px;
}
.folder-cont li {
  list-style: none;
  padding: 5px;
}
.folder-cont form {
  display: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 22%;
  position: absolute;
  height: 100%;
  overflow: auto;
  margin-top: 100px;
}

.sidebar form {
  padding: 10px;
}

.sidebar form span {
  display: none;
}

.sidebar input[type="text"] {
  width: 40%;
  margin: 10px 0px;
}
.sidebar li {
  padding: 0;
  margin: 0;
}
.sidebar li a {
  margin: 0;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

mark {
	background-color: #f6efa6;
}

#pfp {
	margin: 15px;
}

.dark-theme {
  color: white;
  background: #151515;
}

.dark-theme button{
	color: #ed6663;
}
.dark-theme  a, .dark-theme code {
  color: #ffffff;
}

.dark-theme blockquote {
	color: #d1cebd;
}
.dark-theme input, .dark-theme select, .dark-theme textarea {
	border: none;
	background: #1f1f1f;
	color: white;

}
.dark-theme a:hover, .dark-theme a:visited {
  color: #ed6663;
}

.dark-theme .matches {
	background: #ed6663;
}

.dark-theme img#pfp {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#pfp {
	margin: 15px;
}

#right-pane {
	width: 100%;
	margin: 0px;
}

.script-output {
	border: 3px;
	border-style: dashed;
	display: block;
	width: fit-content;
	min-width: 95%;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
	margin-bottom: 1em;
	padding: 7px;
}

.LaTeX {
	width: 50px !important;
}
.LaTeX:before {
	content: "LaTeX"
}

#searchBar {
	border: 1px solid #dfe1e5; border-radius: 5px
}


@media only screen and (max-width: 500px) {
  .content {
    width: 90%;
    margin: auto;
  }
  .sidebar {
    display: none;
  }
}


/*
New styles to make archivy look better
Partly inspired by Primer -> https://github.com/primer/css
*/
.Header {
	display: flex;
	padding: 16px;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255,255,255,0.7);
	background-color: #7848bb !important;
	align-items: center;
	flex-wrap: nowrap;
}

.Header-item {
	display: flex;
	margin-right: 10px;
	align-self: stretch;
	align-items: center;
	flex-wrap: nowrap;
}

.Header-link {
	color: white;
	display: flex;
	align-items: center;
}

.full {
	flex: auto;
}

.flash {
	position: relative;
	padding: 20px 16px;
	color: #24292e;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	margin: 10px;
}

.flash-success {
	background-color: #dcffe4;
	border-color: rgba(23,111,44,0.2);
}

.d-flex {
	display: flex;
}

.btn {
	color: #24292e;
	font-weight: normal;
	background-color: #fafbfc;
	box-shadow: 0 1px 0 rgba(27,31,35,0.04),inset 0 1px 0 rgba(255,255,255,0.25);
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	position: relative;
	display: inline-block;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid;
	border-radius: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-color: rgba(27,31,35,0.15);
}
.btn-primary {
	background-color: #48BB78;
	color: white;
}


.btn:hover, .btn.hover, [open] > .btn {
	background-color: #f3f4f6;
	transition-duration: 0.1s;
}


.btn-primary:hover, .btn-primary.hover, [open] > .btn-primary {
	background-color: #2c974b;
}

.btn a:hover {
	text-decoration: none;
}

.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
}

#main-links {
	margin-bottom: 15px;
	align-items: center;
}

#main-links .btn {
	margin: 3px;
}

#current-path {
	flex: auto;
	margin-right: 10px;
	font-size: 16px;
}

#current-path a {
	color: #0366d6;
}

#current-path span {
	color: #48BB78;
	text-decoration: none;
}

#files #dir-info {
	align-items: center;
}

#files #dir-info > * {
	padding: 5px;
}

#files ul {
	padding: 0px;
}

#files ul li {
	width: 100%;
	padding: 16px;
	margin-top: -1px;
	list-style-type: none;
	border-top: 1px #e1e4e8 solid;
}

#files ul .octicon {
	margin: 0px 10px;
}

#files ul a {
	color: black;
}

#files .dir {
	border-left: 4px #48BB78 solid;
}

#files .file {
	border-left: 4px #7848bb solid;
}

