.content {
  width: 50%;
  margin-left: 25%;
}

.hidden {
  display: none;
}

.fadein {
  transition: opacity 1s;
  opacity: 1;
  display: flex !important;
}

.new-folder {
  align-items: center;
  flex-wrap: wrap;
  border: none;
}
.new-folder > * {
  margin: 0px 10px;
}
.new-folder input {
  margin: 0px;
}
.new-folder input[type="submit"] {
  padding: 5px;
  margin: 0px 10px;
}

.delete-btn {
  padding: 0;
  border: none;
  background: none;
}
.delete-btn img {
  height: 40px;
}

.expand-btn {
  background: none;
  padding: 0;
  border: none;
  color: #920de9;
}

.folder-cont {
  border-left: 5px solid #ff4301;
  padding: 0px 10px;
  margin: 30px 0px;
}
.folder-cont h2,
.folder-cont p {
  margin: 5px;
}
.folder-cont ul {
  display: none;
  padding: 10px;
}
.folder-cont li {
	list-style: none;
	padding: 5px;
}
.folder-cont form {
  display: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 22%; 
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar form {
	box-shadow: none;
	padding: 10px;
}

.sidebar form span {
	display: none;
}

.sidebar input[type="text"] {
  width: 40%;
  margin: 10px 0px;
}
.sidebar li {
	padding: 0;
	margin: 0;
}
.sidebar li a {
	margin: 0;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
@media only screen and (max-width: 500px) {
  .content {
    width: 90%;
	margin: auto;
  }
  .sidebar {
	  display: none;
  }
}
