{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
	<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
	<h2>{{ dataobj['title'] }}</h2>
	<p>You can edit this file at <a href="file://{{ dataobj['fullpath'] }}">{{dataobj['fullpath']}}</a></p>
    {{ ", ".join(dataobj['tags']) }}
	<br>
	{{ dataobj["desc"] }}
    <br>
	
    {{ dataobj['date'] }}
	{% if dataobj['type'] == 'bookmark' or dataobj['type'] == 'pocket_bookmark' %}
		<a href="{{ dataobj['url'] }}" rel="noopener">
			Link
		</a>
	{% endif %}
	<div id="content-cont">
		<div id="content">
			{{ content | safe }}
		</div>
	</div>
	<form action="/dataobj/delete/{{ dataobj['id'] }}" method="delete" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
		<input type="button" value="Edit locally" onclick="open_data({{ dataobj['id'] }}, this)">
		<input type="button" value="Edit through the web editor" onclick="open_editor(this)">
    </form>
	<script>

		async function open_data(id, btn)
		{
			let res = await fetch(`${SCRIPT_ROOT}/dataobj/local_edit/${id}`, {
						method: "GET"
					});
			if (res.ok)
			{
				btn.value = "Loading editor...";
				// impossible to know load time of editor, but hide the button after some time
				setTimeout(function() {
					btn.style.display = "none";
				}, 2000);

			}
		}
			

		/*
		function load_ed_assets()
		{
			let ed_style = document.createElement("link"), ed_js = document.createElement("script");
			ed_style.rel = "stylesheet", ed_style.href = "https://unpkg.com/easymde/dist/easymde.min.css";
			ed_js.src = "https://unpkg.com/easymde/dist/easymde.min.js", ed_js.type = "text/javascript";
			document.head.appendChild(ed_style)
			document.body.appendChild(ed_js)
		}
		*/
		function open_editor(btn)
		{
			document.getElementById("content").remove();
			let container = document.getElementById("content-cont");
			container.appendChild(document.createElement("textarea"))
			let editor = new EasyMDE({
				autofocus: true,
				autosave: {enabled: true}
			});
			editor.value(`{{ md_content }}`);
			document.querySelector(".side-by-side").click();
			btn.style.display = "none";
		}
	</script>
{% endblock %}
