.content {
  width: 50%;
  margin: auto; }

  .hidden {
    display: none; }

    .fadeout {
      transition: opacity 1s;
      opacity: 0; }

      .fadein {
        transition: opacity 1s;
        opacity: 1; }

        .new-folder {
          display: flex;
          align-items: center; }
          .new-folder > * {
            margin: 0px 10px; }
            .new-folder input {
              margin: 0px; }
              .new-folder button {
                padding: 5px;
                margin: 0px 10px; }

.delete-btn {
  padding: 0;
  border: none;
  background: none; }
  .delete-btn img {
    height: 40px; }

.folder-cont {
  border-left: 5px solid #ff4301;
  padding: 0px 10px;
  margin: 50px 0px; }
  .folder-cont h2, .folder-cont p {
    margin: 5px; }
