.content {
  width: 50%;
  margin: auto; }

  .hidden {
    display: none; }

    .fadeout {
      transition: opacity 1s;
      opacity: 0; }

      .fadein {
        transition: opacity 1s;
        opacity: 1; }
