.content {
    width: 50%;
    margin: auto;
}
.hidden {
	display: none;
}

.fadein {
	transition: opacity 1s;
	opacity: 1;
	display: flex !important;
}

.new-folder {
	align-items: center;
	border: none;
	& > * {
		margin: 0px 10px;
	}
	input {
		margin: 0px;
	}
	input[type="submit"] {
		padding: 5px;
		margin: 0px 10px;
	}
}
.delete-btn {
	padding: 0;
	border: none;
	background: none;
    img {
		height: 40px;
	}
}
.expand-btn {
	background: none;
	padding: 0;
	border: none;
	color: #920de9;
}
.folder-cont {
	border-left: 5px solid #ff4301;
	padding: 0px 10px;
	margin: 50px 0px;
	h2, p {
		margin: 5px;
	}
	ul {
		display: none;
		li {
			height: 30px;
		}
	}
	form {
		display: none;
	}
}

