{% extends "base.html" %}
{% block content %}
<h2>
	Search
</h2>
<input type="text" id="searchBar">
<div id="searchResults">

</div>
<script>
	/*
	let data = {{ json | safe }};
	let documents = data.reduce(function(docs, doc) {
		doc['content'] = doc['content'].split("\n");
		docs[doc["title"]] = doc;
		return docs
	});
	let idx = lunr(function () {
	  this.ref('title')
	  this.field('content')
	  this.field('desc')	

	data.forEach(function (doc) {
		this.add(doc)
	  }, this)
	})
	var buildSearchResult = function (doc) {
	  var li = document.createElement('li'),
		  h2 = document.createElement('h2'),
		  p = document.createElement('p')

	  h2.dataset.field = 'title'
	  h2.textContent = doc.title

	  p.dataset.field = 'content'
	  p.textContent = doc.content

	  li.appendChild(h2)
	  li.appendChild(p)

	  return li
	}
	function processSearch(query) {
		let results = idx.search(query);
		console.log(results);
		let template = "";
		for (let i = 0; i < results.length; i++)
		{
			let result = results[i];
			let currDoc = documents[result["ref"]]; 
			console.log(result["ref"]);
			if (result["score"] > 2)
			{
				li = buildSearchResult(currDoc);
				Object.keys(result.matchData.metadata).forEach(function (term) {
					Object.keys(result.matchData.metadata[term]).forEach(function (fieldName) {
						let field = li.querySelector('[data-field=' + fieldName + ']');
						let positions = result.matchData.metadata[term][fieldName].position;
						console.log(result);
					})
				})
				document.getElementById("searchResults").appendChild(li);	
			}
		}
	}

	document.getElementById("searchBar").addEventListener('input', function(evt) {
		processSearch(this.value);
	});*/
</script>
{% endblock %}
