{% extends "base.html" %}
{% block content %}
<input type="text" id="searchBar">
<ul id="searchHits">
</ul>

<a href="/bookmarks/new">New Bookmark</a>
<a href="/notes/new">New Note</a>

<p>
    Sync with <a href="/pocket">Pocket</a>
</p>
{% set path = [] %}
{% set i = namespace(value=0) %}
{% macro draw_dir(dir, depth) -%}
	{% set i.value = i.value + 1 %}
	{% if depth %}
		{% do path.append(dir.name) %}
	{% endif %}
	<div style="margin-left: {{depth * 30}}px">
		<h2>{{ dir.name }}</h2>
		<p>Create a new folder</p>
		<span id="form-path-{{i.value}}">{{ "/".join(path) }}</span>
		<input type="text" id="form-input-{{i.value}}" class="folder-inputs">
		<button class="folder-btns" id="form-btn-{{i.value}}">Submit</button>
		<ul>
			{% for dataobj in dir.child_files %}
				<li>
					<a href="/dataobj/{{ dataobj["id"] }}">
						<h3>{{ dataobj["title"] }}</h3>
					</a>
					<p>{{ dataobj["desc"] }}</p>
				</li>
			{% endfor %}
		</ul>
		{% for child_dir in dir.child_dirs.values() %}
			{{ draw_dir(child_dir, depth + 1) }}
		{% endfor %}
	</div>
	{% if depth %}
		{% do path.pop() %}
	{% endif %}
{%- endmacro %}

{{ draw_dir(dataobjs, 0) }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js">
</script>
<script>
	// search functionality
	var md = window.markdownit();
	function appendHit(hit, hidden, query) {
		let hitsDiv = document.getElementById("searchHits");
		let hitLi = document.createElement("li");
		let p = document.createElement("p"), h3 = document.createElement("h3"), hitText = '';
		let paragraphs = md.render(hit['_source']['content']).match(/(<p.*>.*<\/p>)/mg)	
		for(let i = 0; i < paragraphs.length && hitText.length < 150; i++)
		{
			console.log(i);
			if (paragraphs[i].toUpperCase().includes(query.toUpperCase()) && paragraphs[i].includes("<p")) {
				hitText += `${paragraphs[i]}`;
			}

		}
		p.innerHTML = hitText, h3.textContent = hit['_source']['title'];
		hitLi.append(h3);
		hitLi.append(p);
		if (hidden)
		{
			hitLi.classList = "hidden";
		}
		hitsDiv.appendChild(hitLi);
	}

	document.getElementById("searchBar").addEventListener('input', function(e) {
		const Http = new XMLHttpRequest();
		const searchURL = `http://localhost:9200/dataobj/_search?q=${this.value}`;
		Http.open("GET", searchURL);
		Http.send();
		let data;
		Http.onload = (e) => {
			data = JSON.parse(Http.responseText);
			document.getElementById("searchHits").innerHTML = "";
			for(let x = 0; x < data['hits']['hits'].length; x++) {
				hit = data['hits']['hits'][x];
				let hidden = x > 4;
				appendHit(hit, hidden, this.value);
			}
		}
	});

	// new folders with ajax
	const urlRoot = {{ request.script_root|tojson|safe }};
	window.onload = function() {
		let newFolderBtns = document.querySelectorAll(".folder-btns")
		newFolderBtns.forEach(function(btn) {
			btn.addEventListener("click", function(e) {
				let btnId = btn.id.split("-")[2];
				let totalPath = document.getElementById(`form-path-${btnId}`).textContent + "/" + document.getElementById(`form-input-${btnId}`).value;
				console.log(totalPath)
				fetch(`${urlRoot}/folders/new`, {
					method: "POST",
					body: JSON.stringify({
						"name": totalPath
					}),
					headers: {"content-type": "application/json"}
				})
			})
		})
	}
</script>
{% endblock %}
