{% extends "base.html" %}
{% block content %}
<input type="text" id="searchBar">
<ul id="searchHits">
</ul>

<a href="/bookmarks/new">New Bookmark</a>
<a href="/notes/new">New Note</a>

<p>
    Sync with <a href="/pocket">Pocket</a>
</p>
{% set path = [] %}
{% set i = namespace(value=0) %}
{% macro draw_dir(dir, depth) -%}
	{% set i.value = i.value + 1 %}
	{% if depth %}
		{% do path.append(dir.name) %}
	{% endif %}
	<div style="margin-left: {{depth * 30}}px" id="cont-{{i.value}}" class="folder-cont">
		<h2>
			{{ dir.name }} 
		</h2>
		{% if i.value != 1 %}
			<button id="delete-btn-{{i.value}}" class="delete-btn">
				<img src="/static/delete.png" alt="delete icon">
			</button>
		{% endif %}
		<p>Create a new folder</p>
		<div class="new-folder">
			<span id="form-path-{{i.value}}">{{ "/".join(path) }}/</span>
			<input type="text" id="form-input-{{i.value}}" class="folder-inputs">
			<button class="folder-btns" id="form-btn-{{i.value}}">Submit</button>
		</div>
		<ul>
			{% for dataobj in dir.child_files %}
				<li>
					<a href="/dataobj/{{ dataobj["id"] }}">
						<h3>{{ dataobj["title"] }}</h3>
					</a>
					<p>{{ dataobj["desc"] }}</p>
				</li>
			{% endfor %}
		</ul>
		{% for child_dir in dir.child_dirs.values() %}
			{{ draw_dir(child_dir, depth + 1) }}
		{% endfor %}
	</div>
	{% if depth %}
		{% do path.pop() %}
	{% endif %}
{%- endmacro %}

{{ draw_dir(dataobjs, 0) }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js">
</script>
<script>
	// search functionality
	var md = window.markdownit();
	function appendHit(hit, hidden, query) {
		let hitsDiv = document.getElementById("searchHits");
		let hitLi = document.createElement("li");
		let p = document.createElement("p"), a = document.createElement("a"), hitText = '';
		let paragraphs = md.render(hit['_source']['content']).match(/(<p.*>.*<\/p>)/mg)	
		if (paragraphs)
		{
			for(let i = 0; i < paragraphs.length && hitText.length < 150; i++)
			{
				console.log(i);
				if (paragraphs[i].toUpperCase().includes(query.toUpperCase()) && paragraphs[i].includes("<p")) {
					hitText += `${paragraphs[i]}`;
				}
			}
		}
		p.innerHTML = hitText, a.textContent = hit['_source']['title'], a.href = `/dataobj/${hit['_source']['id']}`;
		hitLi.append(a);
		hitLi.append(p);
		if (hidden)
		{
			hitLi.classList = "hidden";
		}
		hitsDiv.appendChild(hitLi);
	}

	document.getElementById("searchBar").addEventListener('input', async function(e) {
		const Http = new XMLHttpRequest();
		let searchQuery = await fetch(`http://localhost:9200/dataobj/_search`, {
			"method": "GET",
			"query": {
					"multi_match": {
						"query": this.value,
						"fields": ['*']
					}
				},
			"content-type": "application/json"
		});
	    if (searchQuery.ok) {	
			let data = await searchQuery.json();
			document.getElementById("searchHits").innerHTML = "";
			for(let x = 0; x < data['hits']['hits'].length; x++) {
				hit = data['hits']['hits'][x];
				console.log(hit)
				let hidden = x > 4;
				appendHit(hit, hidden, this.value);
			}
		}
	});
	
	function createFolder(id)
	{
		let input = document.getElementById(`form-input-${id}`);
		let totalPath = document.getElementById(`form-path-${id}`).textContent + "/" + input.value;
		fetch(`${urlRoot}/folders/new`, {
			method: "POST",
			body: JSON.stringify({
				"name": totalPath
			}),
			headers: {"content-type": "application/json"}
		})
		input.value = "";
	}
	// new folders with ajax
	const urlRoot = {{ request.script_root|tojson|safe }};
	window.onload = function() {
		let newFolderBtns = document.querySelectorAll(".folder-btns")
		newFolderBtns.forEach(function(btn) {
			btn.addEventListener("click", function(e) {
				let btnId = btn.id.split("-")[2];
				createFolder(btnId);
				
			})
		})
		let deleteBtns = document.querySelectorAll(".delete-btn");
		deleteBtns.forEach(function(btn) {
			btn.addEventListener("click", function(e) {
				let id = btn.id.split("-")[2];
				let path = document.getElementById(`form-path-${id}`).textContent;
				fetch(`${urlRoot}/folders/delete`, {
					method: "DELETE",
					body: JSON.stringify({
						"name": path
					}),
					headers: {"content-type": "application/json"}
				})
				document.getElementById(`cont-${id}`).classList.add("fadeout");
			})
		})
	}
</script>
{% endblock %}
