name: Automated code coverage

on:
  push:
    branches:
      - 'master'
    paths:
      - 'archivy/**'
      - 'tests/**'
      - '.github/workflows/codecov.yml'
  pull_request:
    paths:
      - 'archivy/**'
      - 'tests/**'
      - '.github/workflows/codecov.yml'

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      PYTHON: '3.7'
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7
    - uses: docker://pandoc/latex:2.9
    - name: Generate coverage report
      run: |
        pip install -r requirements-tests.txt
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        files: ./coverage1.xml,./coverage2.xml
        directory: ./coverage/reports/
        env_vars: PYTHON
        fail_ci_if_error: true
