name: Automated tests on changes

on: 
  push:
    branches:
      - 'master'
    paths:
      - 'archivy/**'
      - '.github/workflows/pytest.yml'
  pull_request:
    paths:
      - 'archivy/**'
      - '.github/workflows/pytest.yml'

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: |
        pip install pytest
        pytest archivy
        
